body{
  background-color:gray;
}
.corpo{
  max-width: 890px;
  margin:0 auto;
  display:grid;
  grid-row-gap: 10px;
}
.corpo section{
  background-color:white;
  padding:30px;
  border-radius: 1%
}
.corpo section:nth-child(even){
  background-color:white;
  border-radius: 1%
}
#Photo{
  border-radius:50%;
  top:0;
  left:40%;
  position:relative;
}
#nome{
  text-align: center;
  font-family: fantasy;
  font-style: italic;
  font-size:50px;
  color:#dd4b39
}
.subtitulo{
  text-align: center;
  font-family: fantasy;
  font-style: italic;
  font-size:30px;
 }
p{
   font-family: fantasy;
   font-size:29px;
   display: block;
 }
span{
  font-size:33.3px;
}
.span{
  font-size:32.1px;
}
input{
  position:relative;
  left:39%;;
  width:200px;
  height:50px;
  background-color:#dd4b39;
  font-size:24px;
  color:white;
  font-weight: bold;
  border-radius:10px;
}

ul ,li{
  margin-left: auto;
  margin-right: auto;
 }
.secondsection, ul ,li{
  display:flex;
  padding:20px;
}
.facebook{
  width:60px;
  height:60px;
}
.linkedin{
  width:60px;
  height:60px;
}
.twiter{
  width:60px;
  height:60px;
}
li{
  list-style:none;
}
a{
  text-decoration: none;
}
.facebook{
  width:60px;
  height:60px;
}
.face{
top:36%;
}
.linke{
top:36%;

}
.twite{
top:36%;

}
.linkedin{
  width:50px;
  height:50px;
  position:relative;
}

.twiter{
  position:relative;
  width:60px;
  height:60px;
}
.face{

position:relative;;
color:gray;
}
.linke{
  position:relative;
  color:gray;
}
.twite{
  position:relative;
  color:gray;
}
.reseaux{
  margin-left:auto;
  margin-right:auto;
  display: flex;
  position:relative;
  font-size:30px;
}
.reseau,table,td{
  padding:20px;
  color:gray;
  font-weight: bold;
}
.favorite{
  text-align: center;
  font-size:40px;
}
code{
  background-color:gray;
}
#titlee{
  font-weight: bold;
  font-size: 30px;
  top:20%;
  position:relative;
}
span,.artigo{
  font-size:24px;
}
span, .alinhamento{
  float: left;
  font-size:26px;
}
span,.alinhar{
float: left;
}
.movies{
  text-align: left;
  text-align: justify;
}
span, .dois{
   font-size:24px;
}

